/* === === Page favoris et inscription/connexion === === */
.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin_title {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 4%;
}
.admin_text {
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    margin-top: 3%;
    color: black;
}

.admin_form {
    display: flex;
    flex-direction: column;
}
.form-label {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
}

.form-input {
    padding: 5px 20px;
    height: 50px;
    border-radius: 24px;
    margin: 0 auto 2%;
    text-align: center;
    background-color: white;
}
.form-button {
    margin: 0 auto;
    border-radius: 24px;
    height: 50px;
    font-weight: 700;
    font-size: 1.1em;
}
.form-button-valid {
    background-color: burlywood;
}
.form-button-delete {
    width: fit-content;
    padding: 5px 20px;
    background-color: red;
    color: white;
}

/* === === Erreur 404 === === */
.admin_text > a:visited {
    color: black;
}

.error_img {
    display: block;
    margin: 4% auto;
    height: 60vh;
}


/* === Media Query === */
@media screen and (max-width: 775px) {  /* Jusqu'à 775px */
    .form-input {
        width: 45%;
    }
    .form-button {
        width: 45%;
    }
}


/* =============================================================== */
@media screen and (min-width: 776px) {      /* Entre 776px et 1200px */
    .form-input {
        width: fit-content;
    }
    .form-button {
        width: fit-content;
        padding: 0 1rem;
    }
}

/* =============================================================== */
@media screen and (min-width: 1200px) {      /* A partir de 1200px */

}

