/* === === Page favoris === === */
.bookmark_title, .bookmark_nothing {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 4%;
}
.bookmark_nothing {
    font-size: 1.3em;
    font-style: italic;
}




/* === === Page connexion et inscription === === */

.form-label {
    text-align: center;
}

.form-input {
    width: 36%;
    height: 50px;
    border-radius: 24px;
    margin: 0 auto 2%;
    text-align: center;
}
