.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99vw; /* Largeur de toute la page */
    height: 12vh;
    background-color: #242325;
    color : burlywood;
    font-weight: 700;
}
.header_up, .header_down {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__left, .header__right {
    display: flex;
    align-items: center;
    margin: 0 1%;
    width: 45%;
    height: 6vh;
}
.header__left { 
    justify-content: left;
}
.header__right {
    justify-content: right;
}

.header__link {
    display: flex;
    margin: 0 2%;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 80%;
    border: 1px solid burlywood;
    text-align: center;
}
.header__link:visited {
color: burlywood;
}


.header_down {
    height: 6vh;
    border-top: 1px dotted burlywood; ;
}



/* == Menu recherche == */
.header__search {
    position: relative;
    width: 40vw;
}
.search-button { /* Bouton recherche */
    width: 100%;   /* Largeur du bouton */
    height: 4vh;    /* Hauteur du bouton*/
    border-radius: 20px;    /* Bords arrondis */
    text-align: center; /* Placeholder centré */
    opacity: 0.8;   /* Opacité */
}
.search-submit {
    position: absolute;
    border: 2px solid burlywood;
    width: 50px;
    height: 100%;
    right: 0;
    border: 0.1px solid; /* Bordure du bouton */
    border-radius: 50%; /* Arrondi le bouton */
    opacity: 0.8;   /* Opacité */
} 






/* === Media Query === */
@media screen and (max-width: 775px) {  /* Jusqu'à 767px */
    .header__nav-down, .header__nav-up {
        display: none;
    }

}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
@media screen and (min-width: 776px) {      /* Entre 768px et 1023px */

.search_difficult, .search_difficult-link, .header__link {
    font-size: 0.7em;
}

}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
@media screen and (min-width: 1200px) {      /* A partir de 1024px */

    .search_difficult, .search_difficult-link, .header__link {
        font-size: 0.9em;
    }





@media screen and (min-width: 1500px) {

}