/* === Header === */

/* gestion du nav up(pas encore fait) */
.header__nav-up > ul { 
    display: flex;
    height: 20vh;
}

.header__nav-down { /* partie basse du nav */
    position: relative;
    height: 15vh;   /* Hauteur du menu */
    border: 2px solid red;
}

/* == Menus pancartes == */
.header-box1, .header-box2, .header-box3, .header-box4 {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    height: 15vh;
    width: 9vw;
    max-width: 120px;
    border: 2px solid green;
}
.header-box1 {
    left: 3vw;
}
.header-box2 {
    left: 18vw;
}
.header-box3 {
    left: 73vw;
}
.header-box4 {
    left: 88vw;
}
.header__nav__down-button > a {
    position: absolute;
    z-index: 1;
    width: 9vw;
    max-width: 120px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;    /* Police */
    font-weight: 700;   /* Police en gras */
    color: rgb(33, 13, 14); /* Couleur de la police */
    text-decoration: none; /* Retire le trait du lien */
    border: 2px solid yellow;

}
.header__nav__down-button > img {
    position: absolute;
    width: 9vw;
    max-width: 120px;
    border: 2px solid blue;

}

/* == Menu recherche == */
.search-button { /* Bouton recherche */
    position: absolute;
    bottom: 2vh;
    left: 30%;
    height: 5.5vh;    /* Hauteur du bouton*/
    width: 40vw;    /* Largeur du bouton */
    /* max-width: 500px;;  Largeur max du bouton */
    border-radius: 20px;    /* Bords arrondis */
    font-family: 'Signika Negative', sans-serif;    /* Police */
    text-align: center; /* Placeholder centré */
    opacity: 0.8;   /* Opacité */
}




/* === Media Query === */
@media screen and (max-width: 767px) {  /* Jusqu'à 767px */

    /* === Header === */
    .header__container {
        background-image: url(../images/header/banniereBig.jpg);
        background-size: cover;
        background-position: bottom;
        height: 40vh;
        max-height: 30vh;
        width: 100vw;
    }
    .header__nav-down, .header__nav-up {
        display: none;
    }
}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
@media screen and (min-width: 768px) {      /* Entre 768px et 1023px */

    /* === Header === */
    .header__container {
            background-image: url(../images/header/banniere.jpg);
            background-size: cover;
            background-position: bottom;
            height: 40vh;
            max-height: 35vh;
            width: 100vw;
        }
        .header__nav__down-button > a {
            padding-top: 2vh;
            height: 7vh;
            font-size: 0.9em;   /* Taille de la police */
        }
        .header__nav__down-button > img {
        max-height: 6vh;  /* Taille de la pancarte */
        }
}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
@media screen and (min-width: 1200px) {      /* A partir de 1024px */

/* === Header === */
    .header__container {
        background-image: url(../images/header/banniereMini.jpg);
        background-size: cover;
        background-position: bottom;
        height: 40vh;
        max-height: 35vh;
        width: 100vw;
    }
    .header__nav__down-button > a {
        padding-top: 1.7vh;
        height: 9vh;
        font-size: 1.2em;   /* Taille de la police */

    }
    .header__nav__down-button > img {
    max-height: 9vh;  /* Taille de la pancarte */
    }
}