body {
    font-family: 'BioRhyme, sans serif';
}
.container-trek {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    border: 2px solid black;
    width: 80%;
    max-width: 1500px;
}

/* === header === */
.trek_header {
    position: relative;
}
.trek_header-img {
    width: 100%;
}
.trek_header-text {
    position: absolute;
    bottom: 0;
    left: 0;
}
.header_tag {
    /* display: flex; */
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}
.header_favorite-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
}





















/* === Media Query === */
@media screen and (max-width: 775px) {      /* Jusqu'à 775px */

}

/* =============================================================== */
@media screen and (min-width: 776px) {      /* A partir de 776px */
    body {
        background-color: grey;
    }

/* === container principal === */
    .trek_main {
        display: flex;
        flex-direction: column-reverse;
        font-size: 1.3em;
    }

/* === Photos === */
    .trek_main-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding: 1%;
    }
    .main-right_link {
        display: none;
    }
    .main-right_photo {
        padding: 10px;
    }

/* === Boite description et carte GPX */
    .trek_main-left {
        display: flex;
        flex-direction: column;
        padding: 0 3%;
    }
/* == Description == */
    .trek_main-left-head {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        margin-bottom: 10px;
        font-size: 0.9em;
        border-bottom: 1px solid rgb(6, 6, 6);
    }
    .trek_main-left_title-description {
        text-decoration: underline;
        padding-bottom: 10px;
    }
    .trek_main-left_description {
        text-align: justify;
        margin-bottom: 30px;
    }
    .trek_main-foot {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
        font-size: 1.1em;
    }
/* == Carte GPX == */
    .main-foot_map {
        width: 100%;
    }
}

/* =============================================================== */
@media screen and (min-width: 1200px) {      /* A partir de 1200px */

/* === container principal === */
    .trek_main {
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.3em;
    }

/* === photos === */
    .trek_main-right {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .main-right_link {
        display: block;
        margin: 10px 40px;
        color: rgb(22, 35, 2);
        font-size: 1.3em;
        text-align: center;
    }
    .main-right_photo {
        margin: 2px auto;
        border-radius: 10px;
    }
    /* .trek_main-right a:nth-of-type(n+6) {
        display: none;
    } */
    .main-right_photos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        overflow: hidden;
    }
    .main-right_photos a:nth-of-type(n+5) {
        display: none;
    }

/* === Boite description et carte GPX */
    .trek_main-left {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 60%;
        height: 100%; /* Permet de finir le contour de .trek_main apres ce bloc grace à la fonction js */
        border-right: 1px solid black;
    }
    .trek_main-left-head {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 10px;
        padding: 5px;
        font-size: 0.85em;
        border-bottom: 1px solid rgb(6, 6, 6);
    }
/*  == Description == */
    .trek_main-left_title-description {
        text-decoration: underline;
        padding-bottom: 10px;
    }
    .trek_main-left_description {
        text-align: justify;
    }
    .trek_main-foot {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
        font-size: 1em;
    }
}