<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Portfolio : <%= headTitle %></title>
</head>
<body>
<header class="header__container">
    <div class="header__nav-up">
        <ul>
            <li>Dark</li>
            <li>loge</li>
            <ul>Réseau
                <li>FB</li>
                <li>insta</li>
            </ul>
        </ul>
    </div>
        <nav class="header__nav-down">
            <div class="header__nav__down-button side-button">
            <a href="#">Massifs</a>
            <img class="" src="./images/header/panneau1_1.png" alt="">
            </div>
            
            <div class="header__nav__down-search">
                <input class="search-button" type="text" name="search" id="search" placeholder="Rechercher une rando">
            </div> 

            <div class="header__nav__down-button side-button">
                <a href="#">Conseils</a>
                <img class="" src="./images/header/panneau1_1.png" alt="">
            </div>

        </nav>

</header>
