<footer>
    <p class="footer_copyright">copyright © 2023 - Lionel Caro - Tous droits réservés.</p>
    <p class="footer_conctact">Une question ?  <a class="footer_link" href="mailto:lionelcaro74@gmail.com?subject=Question sur le site pathFinder">Contactez moi</a></p>
</footer>
<script src="/js/script.js"></script>
</body>
</html>