<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" type="image/png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/trek.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <% if (locals.meta) { %>
    <title>pathFinder : <%= meta %></title>
    <% } else { %>
    <title>pathFinder</title>
    <% } %>
  </head>
  <body>
    <header class="header__large">
        <nav class="header_up">
          <div class="header__left">
            <a class="header__link" href="/">Accueil</a>
            <a class="header__link">Portfolio</a>
            <a href="https://github.com/L-Caro/Blog-rando" target="_blank" class="header__link">GitHub du projet</a>
          </div>
          <div class="header__right">
            <% if (locals.user) { %>
                <a class="header__link" href="/bookmark">Mes randos</a>
                <a class="header__link" href="/profil">Mon profil</a>
                <a class="header__link" href="/logout">Se déconnecter</a>
                <% } else { %>
                  <a class="header__link" href="/signup">S'inscrire</a>
                  <a class="header__link" href="/login">Se connecter</a>
              <% } %>
          </div>
        </nav>
          <div class="header_down">
            <div class="header__menu_dropdown dropdown__link">
              <a class="hover__link" href="#">&#9207; Filter par tag &#9207;</a>
              <div class="dropdown">
                <label for="type-promenade">
                  <input type="radio" name="hike_type" id="type-promenade">
                  Promenade</label>
                <label for="type-familiale">
                  <input type="radio" name="hike_type" id="type-familiale">
                  Familiale</label>
                <label for="type-randonnee">
                  <input type="radio" name="hike_type" id="type-randonnee">
                  Randonnée</label>
                <label class="type-end" for="type-trail">
                  <input type="radio" name="hike_type" id="type-trail">
                  Trail</label>

                <label for="type-bivouac">
                  <input type="radio" name="" id="type-bivouac">
                  Bivouac</label>
                <label for="type-lac">
                  <input type="radio" name="" id="type-lac">
                  Lac</label>
                <label for="type-neige">
                  <input type="radio" name="" id="type-neige">
                  Neige</label>
                <label for="type-cascade">
                  <input type="radio" name="" id="type-cascade">
                  Cascade</label>
                <label for="type-coucheDeSoleil">
                  <input type="radio" name="" id="type-coucheDeSoleil">
                  Sunset</label>
                <label for="type-defi">
                  <input type="radio" name="" id="type-defi">
                  Défi fou</label>
              </div>
            </div>
            <div class="header__search">
              <div class="header__search-button">
                <input class="search-button" type="text" name="search" id="search" placeholder="Rechercher une rando"/>
                <button class="search-submit" type="submit">✔️</button>
              </div>
            </div>
            <div class="header__menu_dropdown dropdown__link">
              <a class="hover__link" href="#">&#9207; Filtrer par difficulté &#9207;</a>
              <div class="dropdown">
                <label for="very-easy">
                  <input type="radio" name="difficult" id="very-easy">
                  Très facile</label>
                <label for="easy">
                  <input type="radio" name="difficult" id="easy">
                  Facile</label>
                <label for="moderate">
                  <input type="radio" name="difficult" id="moderate">
                  Modérée</label>
                  <label for="hard">
                    <input type="radio" name="difficult" id="hard">
                    Difficile</label>
                  <label for="very-hard">
                    <input type="radio" name="difficult" id="very-hard">
                    Très difficile</label>
              </div>
            </div>
          </div>
    </header>
    <div class="header__small">
      <label id="mySidenav" class="sidenav">                        <!-- id pour javascript | class pour CSS --> 
        <a id="closeBtn" href="#" class="close">&times;</a>     <!-- petite croix de fermeture -->
          <div class="header__small__menus">
            <div class="small__menu__git">
              <a href="/" class="header__small__link">Accueil</a>
              <a class="header__small__link">Portfolio</a>
              <a href="https://github.com/L-Caro/Blog-rando" target="_blank" class="header__small__link">GitHub du projet</a>
            </div>
            <div class="small__menu__log">
              <% if (locals.user) { %>
                <a class="header__small__link" href="/bookmark">Mes randos</a>
                <a class="header__small__link" href="/profil">Mon profil</a>
                <a class="header__small__link" href="/logout">Se déconnecter</a>
              <% } else { %>
                <a class="header__small__link" href="/signup">S'inscrire</a>
                <a class="header__small__link" href="/login">Se connecter</a>
              <% } %>
            </div>
          </div>
      </label>
      <!-- Icone burger -->
      <div class="header__small__up">
        <a href="#" class="burger-icon" id="openBtn">
          <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
          <div class="header__menu_dropdown small__dropdown__link">
            <a class="hover__link" href="#">&#9207; Tag &#9207;</a>
            <div class="dropdown">
              <label for="promenade">
                <input type="radio" name="hike_type" id="promenade">
                Promenade</label>
              <label for="familiale">
                <input type="radio" name="hike_type" id="familiale">
                Familiale</label>
              <label for="randonnee">
                <input type="radio" name="hike_type" id="randonnee">
                Randonnée</label>
              <label class="type-end" for="trail">
                <input type="radio" name="hike_type" id="trail">
                Trail</label>
              <label for="bivouac">
                <input type="radio" name="" id="bivouac">
                Bivouac</label>
              <label for="lac">
                <input type="radio" name="" id="lac">
                Lac</label>
              <label for="neige">
                <input type="radio" name="" id="neige">
                Neige</label>
              <label for="cascade">
                <input type="radio" name="" id="cascade">
                Cascade</label>
              <label for="coucheDeSoleil">
                <input type="radio" name="" id="coucheDeSoleil">
                Sunset</label>
              <label for="defi">
                <input type="radio" name="" id="defi">
                Défi fou</label>
            </div>
          </div>
          <div class="header__menu_dropdown small__dropdown__link">
            <a class="hover__link" href="#">&#9207; Difficulté &#9207;</a>
            <div class="dropdown">
              <label for="tresfacile">
                <input type="radio" name="difficult" id="tresfacile">
                Très facile</label>
              <label for="facile">
                <input type="radio" name="difficult" id="facile">
                Facile</label>
              <label for="moderee">
                <input type="radio" name="difficult" id="moderee">
                Modérée</label>
                <label for="difficile">
                  <input type="radio" name="difficult" id="difficile">
                  Difficile</label>
                <label for="tresdifficile">
                  <input type="radio" name="difficult" id="tresdifficile">
                  Très difficile</label>
            </div>
          </div>
      </div>
      <div class="header__small__down">
        <div class="header__search">
          <div class="header__search-button">
            <input class="search-button" type="text" name="search" id="search" placeholder="Rechercher une rando"/>
            <button class="search-submit" type="submit">✔️</button>
          </div>
        </div>
      </div>
    </div>
