<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" type="image/png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <% if (locals.meta) { %>
    <title>Rando : <%= headTitle %></title>
    <% } else { %>
    <title>Blog rando</title>
    <% } %>
  </head>
  <body>
    <header class="header__container">
      <div class="header__nav-up">
        <ul>
          <li>Dark</li>
          <li>loge</li>
          <ul>
            Réseau
            <li>FB</li>
            <li>insta</li>
          </ul>
        </ul>
      </div>

      <!-- === A inserer dans le header === -->
      <!-- <a href="/">Accueil</a>
      <a href="/controller2">controller2</a>
      <a href="/controller3">controller3</a>

      <% if (locals.user && locals.user.role === 'admin') { %>
      <a href="/admin">Admin</a>
      <% } %> <% if (locals.user) { %>
      <a href="/profil">Mon profil</a>
      <a href="/logout">Se déconnecter</a>
      <% } else { %>
      <a href="/signup">S'inscrire</a>
      <a href="/login">Se connecter</a>
      <% } %> -->
      <!-- === Fin de à inserer === -->

      <nav class="header__nav-down">
          <a class="header__nav-down__link" href="#">Toutes les randos</a>
          <a class="header__nav-down__link" href="#">Chercher par tag</a>
          <div class="header__nav__down-search">
            <div class="header__nav__down-search-buttons">
              <input
                class="search-button"
                type="text"
                name="search"
                id="search"
                placeholder="Rechercher une rando"/>
              <button class="search-submit" type="submit">✔️</button>
            </div>
          </div>
          <a class="header__nav-down__link" href="#">Mes randos</a>
          <a class="header__nav-down__link" href="#">Ajouter une rando</a>
      </nav>
    </header>
