<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.png" type="image/png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/trek.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <% if (locals.meta) { %>
    <title>pathFinder : <%= meta %></title>
    <% } else { %>
    <title>pathFinder</title>
    <% } %>
  </head>
  <body>
    <header class="header__large">
        <nav class="header_up">
          <div class="header__left">
            <a class="header__link" href="/">Accueil</a>
            <a class="header__link">Portfolio</a>
            <a href="https://github.com/L-Caro/Blog-rando" target="_blank" class="header__link">GitHub du projet</a>
          </div>
          <div class="header__right">
            <% if (locals.user) { %>
                <a class="header__link" href="/bookmark">Mes randos</a>
                <a class="header__link" href="/profil">Mon profil</a>
                <a class="header__link" href="/logout">Se déconnecter</a>
                <% } else { %>
                  <a class="header__link" href="/signup">S'inscrire</a>
                  <a class="header__link" href="/login">Se connecter</a>
              <% } %>
          </div>
        </nav>
        <div class="header_down">
          <a class="header__link search_link" href="#">Rechercher par tag</a>
          
          <div class="header__search">
            <div class="header__search-button">
              <input class="search-button" type="text" name="search" id="search" placeholder="Rechercher une rando"/>
              <button class="search-submit" type="submit">✔️</button>
            </div>
          </div>
          <a class="header__link search_link" href="#">Rechercher par difficulté</a>
        </div>
    </header>
    <div class="header__small">
      <label id="mySidenav" class="sidenav">                        <!-- id pour javascript | class pour CSS --> 
        <a id="closeBtn" href="#" class="close">&times;</a>     <!-- petite croix de fermeture -->
              <div class="header__small__menus">
                <div class="small__menu__git">
                  <a href="/" class="header__small__link">Accueil</a>
                  <a class="header__small__link">Portfolio</a>
                  <a href="https://github.com/L-Caro/Blog-rando" target="_blank" class="header__small__link">GitHub du projet</a>
                </div>
                <div class="small__menu__log">
                  <% if (locals.user) { %>
                    <a class="header__small__link" href="/bookmark">Mes randos</a>
                    <a class="header__small__link" href="/profil">Mon profil</a>
                    <a class="header__small__link" href="/logout">Se déconnecter</a>
                  <% } else { %>
                    <a class="header__small__link" href="/signup">S'inscrire</a>
                    <a class="header__small__link" href="/login">Se connecter</a>
                  <% } %>
                </div>
              </div>
      </label>
      <!-- Icone burger -->
      <div class="header__small__up">
        <a href="#" class="burger-icon" id="openBtn">
          <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <p class="small__search__title">Recherche par :</p>
        <a class="small__link" href="#">Tag</a>
        <a class="small__link" href="#">&#9207; Difficulté &#9207;</a>
      </div>
      <div class="header__small__down">
        <div class="header__search">
          <div class="header__search-button">
            <input class="search-button" type="text" name="search" id="search" placeholder="Rechercher une rando"/>
            <button class="search-submit" type="submit">✔️</button>
          </div>
        </div>
      </div>
      </div>
  </body>
</html>
