<%- include("../partials/header") %>

<div class="main-container">
  <main>
  
    <h1>Ceci est une page d'admin</h1>
  
    <p>Très pratique pour administrer des choses diverses et variées.</p>
  
  </main>
</div>

<%- include("../partials/footer") %>
