<%- include("../partials/header") %>

<div class="main-container">
  <main class="admin_form">
    <h1 class="admin_title">Mon profil</h1>
  
    <label class="form-label" for="firstname">Pseudo</label>
    <input class="form-input" type="text" disabled id="firstname" value="<%= user.firstname %>">
  
    <label class="form-label" for="created">Compte créé le</label>
    <input class="form-input" type="text" disabled id="created" value="<%= user.created_at.toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>">
  
  
    <form class="admin_form" action="/profil" method="POST">
      <input class="form-button form-button-delete" type="submit" value="Supprimer le compte">
    </form>
  
  </main>
</div>

<%- include("../partials/footer") %>