<%- include("../partials/header") %>

<div class="main-container">
  <main>
    <h1>Hep où vas tu ?</h1>
    <p>Il faut que tu <a href="/login">te connectes</a> pour aller ici !</p>
  </main>
</div>

<%- include("../partials/footer") %>
