<%- include("../partials/header") %>

<div class="main-container">
  <main>
    <h1>Vous n'avez pas les autorisations pour aller sur cette partie.</h1>
  </main>
</div>

<%- include("../partials/footer") %>
