<%- include('../partials/header') %>

<p class="admin_text">Oups ce chemin n'existe pas, reviens au départ <a href="/"> >>> ici <<< </a></p>
<img class="error_img" src="/images/404.png" alt="">

<%- include('../partials/footer') %>