<%- include('../partials/header') %>

<div class="main-container">
  <p class="admin_text">Oula tu vas tomber si tu continues sur ce chemin, reviens plutôt au départ <a href="/"> >>> ici <<< </a></p>
  <img class="error_img" src="/images/404.jpg" alt="">
</div>

<%- include('../partials/footer') %>