<!DOCTYPE html>
<html>
<head>
   <title>User ses souliers en montagne</title>
   <link rel="stylesheet" type="text/css" href="../css/reset.css">
   <link rel="stylesheet" type="text/css" href="../css/reset-perso.css">
   <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
      <header>
      <nav>
         <div class="menu_principal"> 
         <label for="switch"><img src="images/Hamburger_icon.svg.png" width="30px" height="30px"></label>              <!--Icone du menu burger-->
         <input type="checkbox" id="switch">          <!--Faire de ce menu une checkbox, quand on cliquera sur le burger, cela cochera la case et fera apparaitre le menu-->  
            <ul>  
                  <li><a href="#">Accueil</a></li>
                  <li class="deroulant"><a href="#">Excursions</a></li>
                     <ul class="sousMenu">
                        <li><a href="#">Sous menu 1</a></li>
                        <li><a href="#">Sous menu 2</a></li>
                        <li><a href="#">Sous menu 3</a></li>
                     </ul>
                  <li class="deroulant"><a href="#">Rechercher</a></li>
                     <ul class="sousMenu">
                        <li><a href="#">Rechercher 1</a></li>
                        <li><a href="#">Rechercher 2</a></li>
                        <li><a href="#">Rechercher 3</a></li>
                     </ul>
                  <li><a href="#">Liens utiles</a></li>
                  <li><a href="#">Me contacter</a></li>
                  <li><a href="#">Newsletter</a></li>     
               <div class="social">
                  <div class="fim"><a href="#"><img src="images/fb.png" width="20vw" height="20vw" title="Facebook" /></a></div>
                  <div class="fim"><a href="#"><img src="images/instagram.png" width="20vw" height="20vw" title="Instagram" /></a></div>
                  <div class="fim"><a href="#"><img src="images/mail.png" width="20vw" height="20vw" title="mail" /></a></div>   
               </div>
            </ul>
            </div>
         <div class="burger_menu">   
               <div id="accueil_burger"><a href="#">Accueil</a></div>  
               <div id="social_burger">
                  <div class="fim_burger"><a href="#"><img src="images/fb.png" width="25vw" height="25vw" title="Facebook" /></a></div>
                  <div class="fim_burger"><a href="#"><img src="images/instagram.png" width="25vw" height="25vw" title="Instagram" /></a></div>
                  <div class="fim_burger"><a href="#"><img src="images/mail.png" width="25vw" height="25vw" title="mail" /></a></div>
               </div>
            </div> 
         </div>
      </nav> 
      <div class="image_accueil"></div>
      </header>
      <p> Début du texte</p>
      
</body>
</html>


